	<!-- Footer -->
		<div style="margin-bottom: 20px;"></div>
	  <footer class="bg-dark text-center text-white mt-auto">
	  <div class="container p-4 pb-0">
	    <section class="mb-4">
			<div>Location</div>
			<div>Camp de les Moreres 14
				<br>08401 Granollers</div>
			<div>Desenvolupat amb SYMFONY</div>
			<div>Symfony és un framework de desenvolupament web.
				<a href="https://symfony.com/">Comença</a>.</div>
	    </section>
	  </div>
	  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">Copyright &copy; DiegoAL {{ "now"|date('Y') }}
	  </div>
	</footer>
